      <footer class="site-footer" role="colophon">
        <div class="site-footer__inner">
          <div class="site-footer__content">
            <div class="columns">
              <div class="section resume column-6">
                <div class="section__inner">
                  <div class="section__content-wrap">
                    <div class="section__content">
                      <p><a href="http://cl.ly/ZmqY/download/Resume.pdf"><span>Resume</span></a></p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="section social-connect column-6">
                <div class="section__inner">
                  <div class="section__content-wrap">
                    <div class="section__content">
                      <ul class="list-horizontal">
                        <li><a href="https://www.linkedin.com/in/itsjohn" class="social--network social--linkedin"><span>LinkedIn</span></a></li>
                        <li><a href="https://github.com/nguyenj" class="social--network social--github"><span>Github</span></a></li>
                        <li><a href="https://twitter.com/nguyeness" class="social--network social--twitter"><span>Twitter</span></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="columns columns--rtl">
              <div class="section contact column-6">
                <div class="section__inner">
                  <div class="section__content-wrap">
                    <div class="section__content">
                      <p><a href="tel:8144838313">814-483-8313</a> <a href="mailto:hello@jnguyen.me">hello@jnguyen.me</a></p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="section copyright column-6">
                <div class="section__inner">
                  <div class="section__content-wrap">
                    <div class="section__content">
                      <p>&copy; 2015 <a href="/">John Nguyen</a>. All rights reserved.</p>
                      <p>Web Design &amp; Development.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
