<header class="site-header" role="banner">
  <div class="site-header__inner">
    <div class="site-header__content">
      <div class="site-identity">
        <h1 class="site-title"><a href="/"><span class="ir-copy">John Nguyen</span></a></h1>
        <h2 class="site-tagline"><span class="ir-copy">Front-end Developer</span></h2>
      </div>
      <nav class="site-nav" role="navigation">
        <a href="/">Work</a>
        <a href="/blog">Blog</a>
        <a href="mailto:hello@jnguyen.me?subject=Let's%20work%20together">Contact</a>
      </nav>
    </div>
  </div>
</header>
