<header class="site-header" role="banner">
  <div class="site-header__inner">
    <div class="site-header__content">
      <div class="site-identity">
        <h1 class="site-title"><a href="{{ site.baseurl }}/" title="{{ site.title | escape }}">{{ site.title | escape }}</a></h1>
        <h2 class="site-tagline"><span class="ir-copy">Front-end Developer</span></h2>
      </div>
      <nav class="site-nav" role="navigation">
        <a href="/#works">Work</a>
        <a href="/articles" class="{% if page.url contains  "/articles/" %}active{% endif %}">Articles</a>
        <a href="mailto:hello@jnguyen.me?subject=Let's%20work%20together">Contact</a>
      </nav>
    </div>
  </div>
</header>
