---
layout: articles
---

<div class="container">

  <div class="posts">

    <article class="posts__post" itemscope itemtype="http://schema.org/BlogPosting">

      <h1 class="post__title" itemprop="name headline">{{ page.title | escape }}</h1>

      <time class="post__date" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>

      <div class="post__content" itemprop="articleBody">
        {{ content }}
      </div>

    </article>

  </div>
</div>
