---
layout: default
---

<div class="section about">
  <div class="section__inner">
    <div class="section__content">
      <p class="lead section__lead">A digital chef who is passionate about user experience, clean semantic code and who fully embraces collaboration</p>
      <p>Beyond my enthusiasm for making, I enjoy cooking and <strong>eating</strong>, jogging, and the performing arts.</p>
    </div>
  </div>
</div>

<div id="works" class="section works">
  <div class="section__inner">
    <div class="section__content">
      <div class="block work-list">
        {% assign projects = site.projects | sort: 'weight' | reverse %}
        {% for project in projects %}
        <div class="block-item work-item work-item--{{ project.project | slugify }}">
          <div class="block-item__inner work-item__inner">
            <h4 class="block-item__tagline work-item__tagline"><span class="ir-copy">{{ project.tagline }}</span></h4>
            <h3 class="block-item__title work-item__title"><span class="ir-copy">{{ project.title }}</span></h3>
            <p><a href="#{{ project.title | slugify }}" class="btn btn--ghost block-item__cta work-item__cta">More Info</a></p>

            <div class="work-item-devices{% if project.hero-images.desktop %} desktop{% endif %}{% if project.hero-images.tablet %} tablet{% endif %}{% if project.hero-images.mobile %} mobile{% endif %}">

              {% for device in project.hero-images %}
                {% if shifted_images.size > 1 %}
                  {% assign shifted_images = device[1].images | shift: 1 %}
                  {% assign preload_images = shifted_images | join: ','| append: ',' | append:  device[1].images[0] %}
                {% else %}
                  {% assign preload_images = device[1].images | join: ',' %}
                {% endif %}
                <div class="work-item__device work-item__device--{{ device[0] }}" data-image-active="1" data-device-images="{{ preload_images }}">
                  <div class="loading__icon"></div>
                  <div class="work-item__device-inner">
                    <div class="work-item__device-content">
                      <img data-src="{{ device[1].images[-0] }}" alt="{{ device[0] | capitalize }} view of {{ project.project }} website." src="{{ device[1].images[0] }}">
                    </div>
                  </div>
                </div>
              {% endfor %}

            </div>

            <div class="work-item__details">
              <div class="details__inner">
                <h5 class="details__title">Brief</h5>
                <div class="columns">
                  <div class="column-3">
                    <div class="detail__item">
                      <div class="detail__title">Collaborators</div>
                      <div class="detail__content">
                        <ul class="list-clean">
                          {% for collaborator in project.collaborators %}
                          <li><a href="{{ collaborator['url'] }}" target="_blank" class="link--external">{{ collaborator['name'] }}</a></li>
                          {% endfor %}
                        </ul>
                      </div>
                    </div>
                    <div class="detail__item">
                      <div class="detail__title">Responsibilities</div>
                      <div class="detail__content">
                        <ul class="list-horizontal">
                          {% for responsibility in project.responsibilities %}
                            <li>{{ responsibility }}</li>
                          {% endfor %}
                        </ul>
                      </div>
                    </div>
                    <div class="detail__item">
                      <div class="detail__title">Technology Stack</div>
                      <div class="detail__content">
                        <ul class="list-horizontal">
                          {% for tech in project.technology-stack %}
                            <li>{{ tech }}</li>
                          {% endfor %}
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="column-9">
                    <div class="detail__item">
                      <div class="detail__title">Project</div>
                      <div class="detail__content">
                        <p><a href="{{ project.project-url }}" target="_blank" class="link--external">{{ project.project }}</a></p>
                      </div>
                    </div>
                    <div class="detail__item">
                      <div class="detail__title">Description</div>
                      <div class="detail__content">
                        {{ project }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
